#timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.recuerdo {
  background: var(--azul-secundario);
  padding: 10px;
  border-radius: var(--radio);
  box-shadow: var(--sombra-suave);
  transition: all 0.3s ease;
  cursor: pointer;
}

.recuerdo:hover {
  transform: translateY(-5px);
}

.recuerdo img {
  width: 150px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.recuerdo img:hover {
  transform: scale(1.1);
}